{{#section 'css'}}
    <link rel="stylesheet" href="/css/order.css" />
{{/section}}
{{#section 'js'}}
    <script type="module" src="/js/order.js"></script>
{{/section}}
  <div class="container mt-4">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Đặt hàng</h3>
                    <form method="post" action="/order" class="row" >
                            <div class="col-md-6 col-xs-12">
                                 <div class="form-group mt-4">
                                    <label for="fullName">Họ và tên:</label>
                                    <input class="form-control" type="fullName"  id="fullName" name="fullName" required="true" />
                                </div>
                                 <div class="form-group mt-4">
                        
                                    <label for="email">Email của bạn:</label>
                                    <input class="form-control" type="email"  id="email" name="email" required="true" />
                                </div>
                                <div class="form-group mt-4">
                                    <label for="phoneNumber">Số điện thoại khi nhận hàng:</label>
                                    <input class="form-control" type="text"  id="phoneNumber" name="phoneNumber" required="true" />
                                </div>
                                 <div class="form-group mt-4">
                                    <label>Địa chỉ của bạn:</label>
                                    <select class="form-select" id="province" name="province">
                                        <option selected value="">Chọn Tỉnh/Thành Phố</option>
                                        
                                    </select>
                                 </div>
                                 <div class="form-group mt-4">
                                    <select class="form-select" id="district" name="district">
                                        <option selected value="">Chọn Quận/Huyện</option>
                                        
                                    </select>
                                 </div>
                                 <div class="form-group mt-4">
                                    <select class="form-select" id="ward" name="ward">
                                        <option selected value="">Chọn Phường/Xã</option>
                                        
                                    </select>
                                 </div>
                                <div class="form-group mt-4">
                                    <label for="description">Mô tả nơi nhận hàng:</label>
                                    <input class="form-control" type="text"  id="description" name="description" required="true" />
                                </div>
                                
                                <input class="form-control" type="hidden" value={{totalAmount}}  id="totalAmount" name="totalAmount" required="true" />
                                 <div  class="form-group mt-4">

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="vnpay" id="flexCheckDefault" name="paymentMethod">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Thanh toán VNPay 
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="shipcod" id="flexCheckChecked" checked name="paymentMethod">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Thanh toán khi nhận hàng
                                        </label>
                                </div>
                                 <div class="form-group text-right mt-4">
                                    <button type="submit" class="btn btn-primary">Đặt hàng</button>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-xs-12 background-cart">
                                   <div class="table-responsive">

                                        <table class="table text-center align-middle">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col" class="col-name"></th>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                    {{#each carts}}
                                                    <tr>
                                                        <td scope="col">
                                                            <div class="position-relative alert-quantity">
                                                                    <img class="order-image" src="{{watchId.imageUrl}}" alt="" />
                                                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                                            {{quantity}}
                                                                    <span class="visually-hidden">unread messages</span>
                                                                </span>
                                                            </div>
                                                           
                                                        </td>
                                                    
                                                        <td scope="col" class="col-name-tbody">
                                                                {{watchId.name}}
                                                        </td>
                                                        <td scope="col">{{watchId.price}} x {{quantity}}</td>
                                                        <td scope="col">
                                                            {{totalPrice watchId.price quantity}}
                                                        </td>
                                                    </tr>
                                                    <input class="form-control" type="hidden" value={{watchId._id}}  id="watchId" name="watchId" required="true" />
                                                    <input class="form-control" type="hidden" value={{quantity}}  id="quantity" name="quantity" required="true" />
                                                    <input class="form-control" type="hidden" value={{watchId.price}}  id="price" name="price" required="true" />
                                                    {{/each}}
                                            
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col">Tổng tiền</td>
                                                    <td scope="col">{{formatPrice totalAmount}}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                   </div>
                                    
                                    
                            </div>
                           
                        
                            
                           
                           
                        
                    </form>
                </div>
                
            </div>
        </div>
{{#showMessage message success}}{{/showMessage}}
{{clearMessage}}  