{{#section 'css'}}
    <link rel="stylesheet" href="/css/detailOrder.css" />
{{/section}}

<div class="container mt-4">
            <div class="row justify-content-center">
                <h3 class="text-center">Thông tin chi tiết đơn hàng</h3>
               
                    {{#with order}}   
                        <div class="text-end" id="print">
                            <button  onclick="printPDF('{{fullName}}-{{province}}-{{paymentMethod}}-{{totalAmount}}')" type="button"  class="btn btn-success">In hóa đơn</button>
                        </div>
                        
                        <div class="status-order-title">Trạng thái đơn hàng: <span class="fw-bold">{{status}}</span>    </div>
                        {{#if reasonCancel}}
                           <div class="my-2">
                             <span class="fw-bold">
                                Lí do hủy đơn hàng:
                             </span>   {{reasonCancel}}
                           </div>
                        {{/if}}
                        {{#formatStatusProgess status}}{{/formatStatusProgess}}
                        <div class="col-12 col-md-3 m-2 info-order">
                            <h3 class="text-center">Thông tin người đặt</h3>
                           
                           {{#checkUser userId}} {{/checkUser}}
                           
                        </div>
                        <div class="col-12 col-md-5 m-2 info-order">
                            <h3 class="text-center">Thông tin người nhận</h3>
                            <div class="m-2 p-2"><span class="text-secondary">Tên người nhận :</span> {{fullName}}</div>
                            <div class="m-2 p-2"><span class="text-secondary">Email :</span> {{email}}</div>
                            <div class="m-2 p-2"><span class="text-secondary">Số điện thoại :</span> {{phoneNumber}}</div>
                            <div class="m-2 p-2"><span class="text-secondary">Địa chỉ :</span> {{description}}, {{ward}}, {{district}}, {{province}}</div>
                            <div class="m-2 p-2"><span class="text-secondary">Phương thức thanh toán :</span> {{formatPaymentMethod paymentMethod}}</div>
                            <div class="m-2 p-2"><span class="text-secondary">
                                Thanh toán : {{#if (checkPayment isPayment) }} 
                                <button class="btn btn-primary"><i class="fas fa-check-circle"></i></button>
                                    
                                 {{else}} 
                                 <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                                   
                                 {{/if}}
                            </div>
                            <div class="m-2 p-2"><span class="text-secondary">Tổng tiền :</span> {{formatPrice totalAmount}}</div>
                        </div>
                        <div class="col-12 col-md-3 m-2 info-order">
                            <h3 class="text-center ">Người kiểm duyệt</h3>
                            {{#each adminConfirm}} 
                                <div class="admin-confirm">
                                    <div class="m-1 p-1"><span class="text-secondary">{{status}} :</span> {{createdBy.fullName}}</div>
                                    <div class="m-1 p-1"><span class="text-secondary">Số điện thoại :</span> {{createdBy.phoneNumber}}</div> 
                                    <div class="m-1 p-1"><span class="text-secondary">Thời gian thực hiện :</span> {{formatDate createdAt}}</div>
                                </div>
                            {{/each}}
                            
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá tiền</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr>
                                        <td scope="col">{{name}}</td>
                                        <td scope="col"><img width="100px" height="100px" src="{{imageUrl}}" /></td>
                                        <td scope="col">{{quantity}}</td>
                                        <td scope="col">{{formatPrice price}}</td>
                                        <td scope="col"> <a href="/watch/{{watchId}}">Xem chi tiết</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td scope="col"></td>
                                        <td scope="col"></td>
                                        <td scope="col"></td>
                                        <td scope="col">
                                            {{#if (statusTransporting status)}}
                                            <form method="post" action="/admin/order/confirm/{{_id}}?status={{status}}">

                                                <button type="submit" class="btn btn-primary">
                                                    {{confirmOrder status}}
                                                </button>
                                            </form>
                                            {{/if}}
                                            {{#if (checkStatusRefund status)}}
                                                <form method="post" action="/admin/order/confirm/{{_id}}?status={{status}}">

                                                    <button type="submit" class="btn btn-success">
                                                        Xác nhận trả hàng
                                                    </button>
                                                </form>
                                            {{/if}}
                                            {{#if (checkStatusCancel status)}}
                                                <form method="post" action="/admin/order/confirm/{{_id}}?status={{status}}">

                                                    <button type="submit" class="btn btn-danger">
                                                        Xác nhận hủy đơn hàng
                                                    </button>
                                                </form>
                                            {{/if}}
                                            {{#if (checkStatusReceived status)}}
                                                <form method="post" action="/admin/order/confirm/{{_id}}?status={{status}}">

                                                    <button type="submit" class="btn btn-success">
                                                        Đã nhận hàng
                                                    </button>
                                                </form>
                                            {{/if}}
                                            {{#if (checkStatusPurchased status isPayment)}}
                                                <form method="post" action="/admin/order/confirm/{{_id}}?status={{status}}">

                                                    <button type="submit" class="btn btn-success">
                                                        Đã thanh toán
                                                    </button>
                                                </form>
                                            {{/if}}
                                            
                                        </td>
                                            
                                        <td scope="col"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                            



                    <div class="d-none" id="order-pdf">
                                <div class="d-flex border border-dark my-2">
                                    <div><img width="100px" height="100px" src="https://cse.duytan.edu.vn/uploads/images/logo-CSE-1(2).png" /></div>
                                    <div>
                                        <div class="fw-bold">CÔNG TY TNHH PASSAGE OF STUDY - CHI NHÁNH CẦN THƠ</div>
                                        <div><span class="fw-bold">Địa chỉ:</span> Số 24 đường A3, khu dân cư Hưng Phú 1, Phường Hưng Phú, Quận Cái Răng, Thành phố Cần Thơ, Việt Nam</div>
                                        <div><span class="fw-bold">Điện thoại:</span>.........</div>
                                        <div><span class="fw-bold">Fax:</span>......</div>
                                    </div>
                                </div>
                                <div class="text-center mt-2">
                                    <div class="fs-3 fw-bold">Phiếu giao hàng</div>
                                    <div>{{#dateNow}} {{/dateNow}}</div>
                                </div>
                                <div class="mt-4">
                                    <div><span class="fw-bold">Người nhận hàng: </span> {{fullName}}</div>
                                    <div><span class="fw-bold">Địa chỉ: </span> {{description}}, {{ward}}, {{district}}, {{province}}</div>
                                    <div><span class="fw-bold">Số điện thoại: </span> {{phoneNumber}}</div>
                                    <div><span class="fw-bold">Hình thức thanh toán: </span> {{formatPaymentMethod paymentMethod}} </div>
                                </div>
                                <table class="table text-center align-middle table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Đơn giá</th>
                                            
                                            <th scope="col">Thành tiền</th>
                                            <th scope="col">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each products}}
                                            <tr>
                                                <td scope="col">{{increase @index}}</td>
                                                <td scope="col" class="text-start">{{name}}</td>
                                                <td scope="col">{{quantity}}</td>
                                                <td scope="col">{{formatPrice price}}</td>
                                                <td scope="col">{{totalPrice price quantity}}</td>
                                                
                                                <td scope="col"></td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                    <tfoot>
                                        <td scope="col"></td>
                                        <td scope="col">Tổng Tiền:</td>
                                        <td scope="col" colspan="3">
                                           {{formatPrice totalAmount}}
                                        </td>
                                        <td scope="col"></td>
                                    </tfoot>
                                </table>

                                <div><span class="fw-bold">Thành tiền (Viết bằng chữ): </span> {{#convertNumberToText totalAmount}} {{/convertNumberToText}} </div>
                                <div>
                                    <span class="fw-bold">Tiền phải trả: </span>
                                    {{#if (checkPayment isPayment) }} 
                                    {{formatPrice 0}}
                                        
                                    {{else}} 
                                    {{formatPrice totalAmount}}
                                    
                                    {{/if}}
                                </div> 
                                <div class="text-end mb-4">Ngày....... tháng ........ năm .........</div>
                                <div class="d-flex justify-content-around items-center">
                                    <div>
                                        <div class="fw-bold fs-5">Người nhận hàng</div>
                                        <div>(Ký và ghi rõ họ tên)</div>
                                    </div>
                                    <div>
                                        <div class="fw-bold fs-5">Người giao hàng</div>
                                        <div>(Ký và ghi rõ họ tên)</div>
                                        
                                    </div>
                                    <div>
                                        <div class="fw-bold fs-5">Người lập phiếu</div>
                                        <div>(Ký và ghi rõ họ tên)</div>
                                        <div class="mt-5 text-center fw-bold">{{#deliveryMaker}}{{/deliveryMaker}}</div>
                                    </div>
                                </div>
                    </div>
                        
                    {{/with}}     
                
               
            </div>
        </div>
{{#section 'js'}}
    <script src="/js/detailOrder.js"></script>
{{/section}}