{{#section "css"}}
<link rel="stylesheet" href="/css/role.css" />
{{/section}}

<div class="role__create">
    <form action="/admin/role/create" method="post" class="form__crearte-role">
        <h3 class="text-center">Thêm quyền vào hệ thống</h3>
        {{#if message}}
        <span class="text-success">{{message}}</span>
        {{/if}}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tên Quyền</label>
            <input placeholder="Nhập tên quyền" type="text" name="name" class="form-control" id="exampleInputEmail1">
        </div>
        <button class="btn btn-info">Thêm</button>
    </form>


    <h3 class="text-center mt-5">Danh sách tên các quyền trong hệ thống</h3>
    <div class="mt-5 list__role">
        <table class="table role__table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên quyền</th>
                    <th scope="col" class="text-center">chỉnh sửa</th>
                    <th scope="col" class="text-center">Xóa</th>
                </tr>
            </thead>
            <tbody>
                {{#each roles}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td class="text-center"><a href="/admin/role/role-edit/{{this._id}}" class="btn btn-warning">sửa</a></td>
                    <td class="text-center"><a href="/admin/role/role-delete/{{this._id}}" class="btn btn-danger">Xóa</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<Script>

</Script>